{% extends 'base.html' %}

{% block meta %}
<title>403 - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main>

        <section class="proj-page">
            <div class="container">

                <div class="proj-page-intro">
                    <h1>403 &mdash; Akses ditolak</h1>
                    <p>Kamu gak punya izin buat ngelakuin aksi ini.</p>
                    <div class="proj-page-tools">
                        <a href="{% url 'main:show_main' %}" class="btn-primary">KEMBALI KE BERANDA</a>
                    </div>
                </div>

            </div>
        </section>

    </main>
{% endblock content %}
