{% extends 'base.html' %}

{% block meta %}
<title>{{ form_title }} - {{ name }}</title>
{% endblock meta %}

{% block content %}
    <main>

        <section class="proj-page">
            <div class="container">

                <div class="proj-page-intro">
                    <h1>{{ form_title }}</h1>
                    <p>{{ form_subtitle }}</p>
                </div>

                <form method="post" class="data-form">
                    {% csrf_token %}
                    {% include "components/form_fields.html" %}
                    <div class="form-actions">
                        <button type="submit" class="btn-primary">SIMPAN</button>
                        <a href="{% url cancel_url %}" class="btn-outline">BATAL</a>
                    </div>
                </form>

            </div>
        </section>

    </main>
{% endblock content %}
